:root{
  --color-bg : #ffffff
  --color-fg : #000000
  --accent : #0071ff
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img.sticklogo {
  width: 25%;
  height: 25%;
  position: sticky;
  top: 0;
  display: block;
  margin: 0 auto;
}

#toggle {
  margin: 1%;
  padding: 1.5%;
  border: 0.1% solid;
  border-radius: 50%;
  background: var(--color-bg);
  position: fixed;
  right: 0%;
  top: 0%;
}

#toggle svg{
  fill: var(--color-fg);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

header {
  text-align: center;
  h2 {
    text-decoration: underline;
  }
}

#underConstruction {
  padding: 20px;
  border: 2px dashed olive;
}

footer {
  text-align: center;
  padding: 35px;
  background-color: black;
  color: white;
}

.about-div {
  border-radius: 2%;
  border: 5px solid;
  border-color: var(--color-fg);
  padding: 8%;
  text-align: center;
  margin: 6%;
}

.dark-mode {
  --color-fg: #ffffff;
  --color-bg: #070b1d;
  --accent: #0071ff
}


#toggle svg:last-child{
  display: none;
}

.dark-mode #toggle svg:first-child{
  display: none;
}

.dark-mode #toggle svg:last-child{
  display: block;
}